<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<nav class="navbar">

    <div class="nav-left">
        <img src="/images/logo.png" alt="Logo" class="logo">
        <span class="app-name">Attendance System</span>
    </div>

    <div class="nav-center">
        <a href="/ui/students">Home</a>
        <a href="#">Blogs</a>
        <a href="/ui/attendance">Attendance</a>
        <a href="/ui/students">Students</a>
    </div>

    <div class="nav-right">
        <a href="/login">Sign In</a>
        <a href="/logout" class="logout">Logout</a>
    </div>

</nav>

</body>
</html>
